body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
}

header {
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(243, 240, 240, 0.1);
}

h2 {
    color: #f1f6fc;
    margin-top: 20px;
    margin-bottom: 15px;
}

h3, .fp {
    color: #f1f6fc;
    margin-top: 20px;
    margin-bottom: 15px;
}

.navbar-brand img {
    border-radius: 50%;
}

.btn-outline-primary {
    border-color: #b80591;
    color: #0a0a0a;
}

.btn-outline-primary:hover {
    background-color: #000000;
    color: white;
}

.container {
    background-color: #000000;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px #e9e2e7;;
}

#recent-series-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px; 
  }
  

.card {
    transition: transform 0.2s;
}

.card img {
    height: 200px; 
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

.carousel-caption h5 {
    font-size: 1.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.carousel-caption p {
    font-size: 1rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
    

.col{
    border-radius: 10000px ;
}

#series-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    max-width: 1200px;
}

#recent-series-container .card {
    max-width: 300px; 
}

.row .col-md-3 {
    display: flex;
    flex-direction: column;
}

.row .col-md-3 .card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Faz o cartão ocupar toda a altura da coluna */
}

.row .col-md-3 .card-body {
    flex-grow: 1; /* Faz o corpo do cartão crescer para ocupar o espaço */
}


.card-text-container {
    max-height: 4.5em; /* Exibe aproximadamente 3 linhas de texto */
    overflow: hidden;
    position: relative;
}

.card-text-container.expanded {
    max-height: none; /* Permite exibir todo o texto */
}